# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
venv/

# Env
.env

# IDEs and Editors
.idea/

# MacOS and Windows
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.db
